.view-body-coment {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgb(31, 26, 26);
    width: 22%;
    justify-content: space-around;
    color: white;
    padding: 40px;
    height: auto;
    border-radius: 50px;
}

.view-body-coment p {
    margin: 0;
    font-size: 22px;
    color: white;
    font-weight: 300;
}

.view-body-coment h4 {
    margin: 0;
    color: gold;
    font-size: 25px;
}

@media (max-width: 768px) {
    .view-body-coment {
        width: 80%;
        padding: 30px;
        /* margin-bottom: 20px; */

    }
    .coment-form {
        width: 80%;
    }
}

@media (max-width: 376px) {
    .view-body-coment {
        margin-left: 10px;
    }
    .coment-form {
        width: 80%;
    }
}


/* add coment */

.coment-form {
    display: block;
    width: 35%;
    background-image: url('https://thumb.tildacdn.com/tild6436-3162-4935-a636-313539623765/-/resize/744x/-/format/webp/a88f3810-ba90-4581-9.jpg');
    background-position: center;
    background-size: cover;
    height: auto;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 20px;
    border: 4px solid black;
}
.coment-form div {
    margin-bottom: 10px;
}
.coment-form input {
    border-radius: 5px;
    background-color: rgba(19, 18, 18);
    border: 1px solid white;
    padding: 10px;
    width: 50%;
    color: white;
}
.coment-form textarea {
    width: 50%;
    padding: 10px;
    background-color:  rgba(19, 18, 18);
    color: white;
}
.coment-form textarea::placeholder {
    color: white;
}
.coment-form button {
    padding: 10px;
    border-radius: 5px;
    background-color:  rgba(19, 18, 18);
    color: white;
    border: none;
}
.body-text-coment {
    /* padding: 20px; */
    width: 100%;
    background-color: rgb(31, 26, 26);
    height: auto;
    text-align: center;
}

@media (max-width: 376px) {
    
    .coment-form {
        width: 90%;
    }
}
@media (max-width: 768px) {
    
    .coment-form {
        width: 70%;
    }
}